<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Family code</string>
			<key>FooterText</key>
			<string>Forgot the family code? Turn this on, open My Story, and tap For family to choose a new code.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset family code</string>
			<key>Key</key>
			<string>resetFamilyCode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
